{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="my-background">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 id="ca">Create Account</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    
    <div class="custom-account1">
        <div class="data m-1 p-1">
        {{ form_row(registrationForm.firstName) }}</div>
        <div class=" data m-1 p-1">{{ form_row(registrationForm.lastName) }}</div>
        
        <div class="data m-1 p-1">{{ form_row(registrationForm.email) }}</div>
        <div class="data m-1 p-1">{{ form_row(registrationForm.password, {
            label: 'Password'
        }) }}</div>
        <div class="data m-1 p-1">{{ form_row(registrationForm.agreeTerms) }}</div>
       
     
     {{ form_end(registrationForm) }}
    
<br>
       <button class="learn-more">
  <span class="circle" aria-hidden="true">
  <span class="icon arrow"></span>
  </span>
  <span class="button-text">Sign up </span>
</button>
<h6><a href="#" style="color: black;">You already have an account?Sign up</a></h6>

   </div>  
</div>
{% endblock %}
