{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
    <h1>Liste des reservations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.status }}</td>
                <td>
                    <a href="{{ path('app_booking_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('app_booking_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_booking_new') }}" class="btn btn-primary">Create new</a>
</div>
</div>
    <div class="col-2"></div>
{% endblock %}
