{% extends 'base.html.twig' %} 

{% block title %}Edit Activity{% endblock %}  {# Sets the title of the page #}

{% block body %}
    <div class="container">  {# Wrapper div with Bootstrap container class #}
        <h1 class="my-4">Edit Activity</h1>  {# Page heading with margin #}

        {{ form_start(activityForm, {'attr': {'class': 'form'}}) }}  {# Begins the form and adds a class #}

        {% if activityForm.vars.errors|length > 0 %}  {# Checks if the form has any errors #}
            <div class="alert alert-danger mt-3">  {# Error alert with margin-top #}
                {{ form_errors(activityForm) }}  {# Displays form errors #}
            </div>
        {% endif %}

        {{ form_widget(activityForm) }}
        <button type="submit" class="btn btn-success mt-3">Save changes</button> 
        {{ form_end(activityForm) }}

        <a href="{{ path('app_activities') }}" class="btn btn-secondary mt-3">Back to Activities List</a>
    </div>
{% endblock %}
